:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  background: #fff;
@keyframes ugc_progress {
  0% { transform: translateX(-120%); opacity: .85; }
  50% { transform: translateX(120%); opacity: 1; }
  100% { transform: translateX(320%); opacity: .85; }
}
